html, body, #root, .App {
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  padding: 20px;
  background-color: lightblue;
}

.sidebar img {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
  background-color: lightgray
}
